.logo
  position: relative
  display: flex
  justify-content: space-between
  height: 100%
  &::after
    position: absolute
    content: ""
    top: 5px
    right: -15px
    width: 13px
    height: 13px
    border-radius: 50%
    background-color: $color-dark
  &:hover::after
    background-color: $color-main
.header__logo
  position: relative
  display: block
  width: 34px
  height: 34px
  align-self: center
  margin-left: 10px
  // &::after
  //   position: absolute
  //   content: ""
  //   top: -5px
  //   right: -20px
  //   width: 15px
  //   height: 15px
  //   border-radius: 50%
  //   background-color: $color-main


.logo__link
  display: block
  transform: rotateZ(-20deg)
  font-style: italic
  font-size: $font-size-h5
  margin: 0 auto
  width: 98%
  align-self: center
  cursor: pointer
  color: $color-dark
  font-weight: bold
  font-weight: 500
  @include mobile
    display: none
